.about-us-left-side {
  background-color: #fbf9f9;
  padding: 40px;
}
.about-us-left-side h4 {
  border-bottom: 1px solid rgb(208, 207, 207);
  padding-bottom: 18px;
  font-size: 15px;
  color: rgb(39, 38, 38);
}
.about-us-left-side p {
  padding: 26px;
  font-size: 12px;
  line-height: 32px;
  color: #6b6666;
}
.about-us-left-side a {
  background-color: orange;
  color: #fff;
  padding: 5px 11px;
  border-radius: 3px;
  float: left;
  margin-left: 10px;
  font-size: 10px;
  transition: 0.5s ease;
}
.about-us-left-side a:hover {
  border-radius: 0px 10px 0px 10px;
}
@media screen and (max-width: 680px) {
  .about-us-right-side {
    display: none;
  }
}
